{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index2.css'%}">
    <style>

    </style>
</head>
<body>
    <div style="border:2px solid black; margin-left:20px; margin-right:30px; margin: bottom 40px; margin-top: 60px; padding-left: 20px; padding-top: 40px; padding-right: 60px; padding-bottom: 80px; ">

    <p>Lorem ipsum dolor sit amet.</p>
    <h2>knlfvifijf</h2>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, fugiat ex? Expedita nemo tenetur assumenda animi neque? Id officiis ullam quisquam veniam sapiente cum? Quas, eum similique facilis illo, non voluptates dicta tempore et dolore quaerat laborum molestiae consequuntur nulla doloremque consequatur, iusto vero odi

    </p>
</div>
    
</body>
</html>